.callings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.callings span{
    margin: 2em 0;
    font-weight: 600;
    font-size: 1.2em;
}

.new{
    float:right;
    background-color: #83bf02;
    color: #FFF;
    margin-bottom: 1.5em;
    border: 0;
    border-radius: 3px;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1em;
    transition: ease-in 0.2s;
}
.new:hover{
    background-color: #5fd204;
    transform: scale(1.1);
}
.new svg{
    margin-right: 5px;
}

